.notification-buttons-container {
  display: flex;
  flex-direction: row;
}

.notification-toast {
  margin: 20px;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
}

.success {
  background-color: green;
}

.info {
  background-color: blue;
}

.warning {
  background-color: yellow;
}

.error {
  background-color: red;
}

.notification-toast-container {
  display: flex;
  flex-direction: column;
}

.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}

.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.toast-cross-button {
  cursor: pointer;
}

@keyframes popup {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  animation: popup 1s;
}

.slide {
  animation: slide 1s ease-in;
}

.popin {
  animation: popin 1s ease-in;
}